<div class="container-fluid">
	<div class="row h-100">
		<div class="col-3 sidebar p-3 text-center">
			<h1>Races</h1>
			<ul>
				<li *ngFor="let race of races" (click)="changeRace(race)" [class.active]="character.race === race" class="mb-3 py-2">
					{{race}}
				</li>
			</ul>
		</div>
		<div class="col-6"></div>
		<div class="col-3 sidebar p-3 text-center">
			<h1>Classes</h1>
			<ul>
				<li *ngFor="let class of classes" (click)="changeClass(class)" [class.active]="character.class === class" class="mb-3 py-2">
					{{class}}
				</li>
			</ul>
		</div>
	</div>
</div>
