.container-fluid {
	height: 100vh;
}

.hero, .enemy {
	height: 34%;
}

.hero img {
	width: 100%;                  /* may need to adjust this to make the image look nicer */
	height: calc(100 - 20px);
}

.enemy img {
	width: 100%;
	height: calc(100% - 20px);
	transform: scaleX(-1);
}

.hero.active, .enemy.active {
	border: 3px solid gold;
}

.hero.targatable {
	border: 3px solid green;
	cursor: pointer;
}

.enemy.targatable {
	border: 3px solid red;
	cursor: pointer;
}

.health-bar {
	height: 25px;
}

.progress-bar {
	color: black;
	background-color: greenyellow;
	padding: 7px 0;
}

.message-box {
	height: 50%;
	background-color: rgba (0,0,0,0.5);
	color: black;
	border: 3px solid #d2b48c;
	padding: 10px;
	border-radius: 7px;
	overflow-y: auto;
}

.options-bar {
	background-color: #d2b48c;
	border-top: 2px solid darkgreen;
}

.action-option {
	cursor: pointer;
	background-color: rgba(0,0,0,0.5)
}

.action-option.selected {
	background-color: rgb(228, 217, 121);
	color: white;
}

.row-empty {
	height:10%;
}

.dark-overlay {
	background: rgba(85, 218, 211, 0.35);
	position: absolute;
	top: 0;
	left: 0;
	height: 200%;
	width: 100%;
	z-index: -1;	/* show above anything else */
}
